extend base

block content
  main.main
    h2.heading-secondary About

    .description-box 
      p.description__text A substantially expanded version of the project from this Udemy Course - #[a(href='https://www.udemy.com/course/nodejs-express-mongodb-bootcamp/') Node.js, Express, MongoDB & More: The Complete Bootcamp]
    br
    .description-box
      p.description__text Natours is a tour holiday application where users can sign up and book adventure tours around the world.
    br
    .description-box
      p.description__text It was built with Node.js Express, MongoDB, Mongoose and Pug. It includes a feature-rich API, advanced authorisation, emails sending, file uploading and manipulation and card payments with stripe.
