extend base

block content
  main.main
    h2.heading-secondary Contact
    .description-box 
      p.description__text #[a(href=' mailto:jmjsmith23@gmail.com') jmjsmith23@gmail.com] 
    .description-box 
      p.description__text #[a(href='https://www.linkedin.com/in/joe-smith-9a2b3a153/') LinkedIn]
    .description-box 
      p.description__text #[a(href='https://github.com/SmiffyJ') Github]