extends base

include _tourCard

block content 
  .filterBar
    .filter
      .filter__title Difficulty
      .filter__group
        a(href=`/` id='easy').filter__element Easy
        a(href=`/` id='medium').filter__element Medium
        a(href=`/` id='difficult').filter__element Difficult
        a(href=`/`).filter__element Clear
    .filter
      .filter__title Price
      .filter__group
        a(href=`/` id='lowPrice').filter__element <$500
        a(href=`/` id='medPrice').filter__element $500 - $1500
        a(href=`/` id='highPrice').filter__element $1500+
        a(href=`/`).filter__element Clear
    .filter
      .filter__title Duration
      .filter__group
        a(href=`/` id='shortDur').filter__element <5 days
        a(href=`/` id='medDur').filter__element 5 to 10 days
        a(href=`/` id='longDur').filter__element 10+ days
        a(href=`/`).filter__element Clear
  main.main 
    .tour-results__container
      p.tour-results__number= `Number of tours found: ${results}`
    .card-container

      if tours
        each tour in tours
          +tourCard(tour)
